<div>
    <h4>Select the type of weather information required</h4>
    <select [(ngModel)]="selectedValue" placeholder="API Type">
        <option value="Civil" selected="selected">Civil</option>
        <option value="Meteorological">Meteorological</option>
        <option value="Astronomical">Astronomical</option>
    </select>
    <!-- <div ngbDropdown>
        <button class="btn btn-outline-primary" ngbDropdownToggle>Dropdown</button>
        <div ngbDropdownMenu>
          <button class="dropdown-item" *ngFor="let option of options" (click)="onOptionSelected(option)">{{option}}</button>
        </div>
      </div> -->


</div>