.card {
    /* width: 50%; */
    background: black;
    /* margin-left: 25%;
    margin-bottom: 25%;
    margin-right: 25%; */
    /* margin-top: 10%; */
}

.weatherImage {
    size: 80%;
    max-width: 80%;
    height: auto;
}

.joke{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 30%;
}

/* .page{
   
} */
/* .inputCity{
    width: 50%;
} */