/* You can add global styles to this file, and also import other style files */
.appbody {
    background-color: lightseagreen;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}


h3{
    color: red;
}

h4{
    color: blue;
}